azure_vm { '{{name}}':
  ensure  => {{ensure}},
  {{#optional}}
  {{k}}   => '{{v}}',
  {{/optional}}
  {{#optional_extensions}}
  extensions => [
    {{#extensions}}
    {
      {{#values}}
      {{k}}   => '{{v}}',
      {{/values}}
    },
    {{/extensions}}
  ],
  {{/optional_extensions}}
}
